<h2 class="txtWhite">{{data?.name}}</h2>
<mat-dialog-content class="mat-typography">

  <div fxLayout="column" fxFlex>

    <div fxLayout="row" fxFlex class="margin-top-10">
      <div fxFlex="90px">
        <p class="font700">Contact</p>
      </div>
      <div fxLayout="column" fxFlex>
        <p>{{data?.email}}</p>
        <p>{{data?.phone}}</p>
      </div>
    </div>

    <mat-divider class="navigation-divider"></mat-divider>

    <div fxLayout="row" fxFlex class="margin-top-10">
      <div fxFlex="90px">
        <p class="font700">Address</p>
      </div>
      <div fxLayout="column" fxFlex>
        <p>{{data?.address?.city}}</p>
        <p>{{data?.address?.street}}</p>
        <p>{{data?.address?.zipcode}}</p>
      </div>
    </div>

    <mat-divider class="navigation-divider"></mat-divider>

    <div fxLayout="row" fxFlex class="margin-top-10">
      <div fxFlex="90px">
        <p class="font700">Company</p>
      </div>
      <div fxLayout="column" fxFlex>
        <p>{{data?.company?.name}}</p>
        <p>{{data?.company?.bs}}</p>
      </div>
    </div>

    <mat-divider class="navigation-divider"></mat-divider>

    <div fxLayout="column" fxFlex class="margin-top-10" *ngIf="posts">
      <p class="font700">Posts</p>
      <div fxLayout="column" fxFlex class="userPosts">
        <ng-container *ngFor="let post of posts; let i = index">
          <div fxLayout="row" fxFlex *ngIf="i < postsToShow">
            <p>
              <span fxFlex="20px">{{i + 1}}</span>
              <span>{{post?.title}}</span>
            </p>
          </div>
        </ng-container>
      </div>

      <button mat-button (click)="showMorePosts()">More</button>
    </div>

  </div>


</mat-dialog-content>
<mat-dialog-actions fxLayoutAlign="end center">
  <div class="margin-top-10">
    <button mat-button mat-dialog-close>Close</button>
  </div>
</mat-dialog-actions>
