<div class="login-page">

  <mat-toolbar>
    <div fxLayout="row" fxFill fxLayoutAlign="center center">
      <h3 class="txtWhite">Login</h3>
    </div>
  </mat-toolbar>
  <form [formGroup]="formGroup" *ngIf="formGroup" (submit)="login()" class="login-form">
    <div fxLayout="column" fxFlex class="padding20 scrollable">
      <div fxLayout="row" fxLayoutAlign="center" fxFlex>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <mat-select
            placeholder="Email"
            formControlName="email">
            <ng-container *ngFor="let user of users">
              <mat-option [value]="user.email">
                {{user?.email}}
              </mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutAlign="center" fxFlex [class.hidden]="f.email.status === 'INVALID'">
        <button mat-raised-button
                color="primary"
                type="submit">Login</button>
      </div>
    </div>
  </form>
</div>
