<div fxLayout="column" fxFlex fxLayoutAlign="center" class="homepage padding-40 txt-center page">
  <h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sollicitudin magna elit, in iaculis erat
    tristique a. Ut aliquet, mattis ultricies, vitae mollis nisl est eget ante. Ut
    ac sapien ac est consectetur sodales non et neque.</h1>

  <div class="margin-top-20">
    <button mat-raised-button color="primary" (click)="goToPosts()">
      <mat-icon aria-hidden="false" aria-label="Example home icon">library_books</mat-icon> Posts
    </button>
  </div>

</div>
